.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar{
  background: #fcf3f4;
  color: #2f2f2f;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
    display: none;
}

.w3-button i{
  padding:10px;
}

.w3-button{
  font-size: smaller;
}

.w3-button:hover{
  background: #fbdce2 !important;
}
