<div class="w3-content w3-container w3-padding-64">
    <h3 class="w3-center">Hi :)</h3>
    <p class="w3-center"><em>My name is Beatrice</em></p>
    <p>I'm a Full-Stack Developer and a Computer Scientist and I'm from Rome, Italy, where i currently live with my boyfriend and my dog, Peco <3.</p>
    <div class="w3-row">
        <div class="w3-col m6 w3-left w3-padding-small">
            <img src="assets/images/personal-photo.jpeg"
                class="w3-round w3-image w3-hover-opacity" alt="Photo of Me" width="300" height="333">
        </div>

        <div class="w3-col m6 w3-hide-small">
            <p>I actually started out as a Literature student: my high-school was mainly focused on classical 
                studies like Latin, Greek, Italian and English literature, and a little bit of scientific subjects
                like chemistry and biology, physics and math. I reallt sucked ad math.
            </p>
            <p> But i really loved computers, I'd been around them for as long as I could remember, so when I 
                started learning Python I understood that a switch in my studying-career was necessary.
                So I got my degree in Computer Science at the University of Rome Tor Vergata, where
                I received a 110 cum laude, and I'm currently about to get my master's degree.
            </p>
            
            </div>
        </div>
        <div class="w3-row">
            <p>
                In my time at uni I became very intrested in Neural Networks, and I took part in many Mahcine Learning's 
            projects, mainly focused on Natural Language Processing.</p>
                <p>Algorithms was also a main focus of my studies, spanning from data structure optiomization to
                    game's theory and natural distributed algorithms. I really liked the interaction between nature and 
                computing, so I took on Bioinformatics lectures where I learned about sequence processing and the complexity
                of predicting a 3d protein model.
            </p>
            <p>
                During the pandemic I found myself stuck with studying, so i got an internship in a local, small 
                IT company where I started working in a team and developing solutions fro potential clients.
                I focused on customized web application for an existing document/managing software that also 
                optimized work-related processes.
            </p>
            <p> Right now I'm working for Capgemini as an Analyst Consultant in the FinTech Area.
                Out client is developing some tools to manage offers-packages. 
                Since my studies where very much on the theoretical side of things, I had to learn a lot
                on the job, spanning from Java to Typecrispt, from code to deploy.
            </p>
            <p> I'm also intrested in the field of UX Desing, and I'm currently taking on Google's certification.</p>
        </div>
    
    <div>
        <h3 class="w3-center" style="margin-top:5%">Things I am good at:</h3>
    <p class="w3-wide"><i class="fa fa-wrench" aria-hidden="true"></i>Building stuff</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-coffee" aria-hidden="true"></i>Drinking coffee</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:85%">85%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Scheduling</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">90%</div>
    </div>
    
    <h3 class="w3-center" style="margin-top:5%">My Hobbies</h3>
    <p class="w3-center"><em>I really have too many hobbies.</em></p>
    
    <p>My main hobby is reading: I'm hardly found without a book nearby. I also like collecting cute 
        editions of books that I really enjoyed and go scavenging for old, dusty copies in antique's shops.
    </p>

    <p>I also really like creating stuff, in many different ways. I sew clothes, I build furniture for 
        my home, I paint, and I'd totally like to learn pottery.
    </p>

    <p>One thing that I love doing with my boyfriend and my dog is go hiking: I must admit I'm a bit
        lazy but when confronted with beatiful scenery I really can walk for miles!
    </p>

    <div class="w3-content w3-container w3-padding-64">
        <div class="w3-row-padding w3-center">
            <div class="w3-col m6">
                <img src=""
                    style="width:100%" class="w3-hover-opacity" alt="Moscu">
            </div>
    
            <div class="w3-col m6">
                <img src=""
                    style="width:100%" class="w3-hover-opacity" alt="Nepal">
            </div>
        </div>
    </div>
   

</div>

